footer {
    background-color: #EFEFEF;
    color: #3454D1;
    padding: 20px;
    text-align: center;
    border-top: 3px solid #3454D1;
    width: 100%;
}

.footer-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #3454D1;
    font-size: 1.1em;
}

a:hover {
    color: #3454D1; 
}