html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.boks {
    width: 350px;
    border: 2px solid #ccc;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:50px 0;
}

.billede {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.over-tekst, .under-tekst {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}