body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 350px;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: bisque;
    padding: 10px;
    color: white;
    border-bottom: 3px solid #005F6A;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
    
}

.logo {
    font-size: 24px;
    width: auto;
}



.menu li {
    padding: 10px;
    text-align: center;
    margin-right: 10px;
}

.menu li a {
    color: black;
    text-decoration: none;
}

.menu li:hover {
    color: #005F6A;
}


@media (min-width: 600px) {
    .menu {
        display: flex;
        flex-direction: row;
        position: static;
        background: none;
        width: auto;
    }

    .menu-icon {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}