.slideshow-container {
    position: relative;
    max-width: 50%;
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-left: 300px;
    min-height: 400px;
   
}

.slide {
    display: flex;  /* Skjul alle slides som standard */
    width: 100%;  /* Sørg for, at slide fylder hele bredden af containeren */
}

.slide-text {
    font-size: 1.3em;
    color: #005F6A;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

/* Fade-in animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4 }
    to { opacity: 1 }
}

/* Slideshow navigation styles (for next and previous buttons) */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: #f1f1f1;
    font-weight: bold;
    font-size: 18px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

